@import "variable";
@import "estructura";




// Maps
$redes: (
    instagram: #c000f6,
    tiktok: #00FFFF,
    youtube: #da2836,
);

@each $red, $color in $redes {
    .red-#{$red} {
        border: $color 2px outset;
        opacity: 100%;
        padding: 0px;
    }

}


// Mixins
@mixin size {
    height: 90px;
    
    
}

h2  {
    @include size;
}
